# Function

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Load

## 공공자전거 대여소별 대여건수

### 대여소별 대여내역(2015)

In [2]:
file_path1= 'D:\Code\서울시 따릉이!\자전거 대여소별 대여 및 반납 내역/대여소별 대여내역(2015년).csv'

df_rent_2015 = pd.read_csv(file_path1,encoding='cp949')

print(df_rent_2015)

print('*'*80)

df_rent_2015.drop([0,0], axis=0, inplace=True)
print(df_rent_2015)

df_rent_2015.isnull().sum()

       대여소 그룹              대여소 명   대여 일자 / 월  대여 건수
0      그룹명 없음            대여소명 없음  2015-09-19      0
1         마포구   101. (구)합정동 주민센터  2015-09-19      5
2         마포구    102. 망원역 1번출구 앞  2015-09-19     13
3         마포구    103. 망원역 2번출구 앞  2015-09-19     18
4         마포구    104. 합정역 1번출구 앞  2015-09-19     11
...       ...                ...         ...    ...
12469      중구   324. 신세계백화점 본점 앞  2015-12-31      1
12470      중구  331. 을지로2가 사거리 북측  2015-12-31      1
12471      중구  332. 을지로2가 사거리 남측  2015-12-31      1
12472      중구      336. 티마크 호텔 앞  2015-12-31      8
12473      중구        346. 맥스타일 앞  2015-12-31      1

[12474 rows x 4 columns]
********************************************************************************
      대여소 그룹              대여소 명   대여 일자 / 월  대여 건수
1        마포구   101. (구)합정동 주민센터  2015-09-19      5
2        마포구    102. 망원역 1번출구 앞  2015-09-19     13
3        마포구    103. 망원역 2번출구 앞  2015-09-19     18
4        마포구    104. 합정역 1번출구 앞  2015-09-19     11
5        마포구    105. 합정역 5번출구 앞  2015-09-19     15
...      ...                ...         ...    ...
12469     중구   324. 신세계백화점 본점 앞  2015-12-31      1
12470     중구  331. 을지로2가 사거리 북측  2015-12-31      1
12471     중구  332. 을지로2가 사거리 남측  2015-12-31      1
12472     중구      336. 티마크 호텔 앞  2015-12-31      8
12473     중구        346. 맥스타일 앞  2015-12-31      1

[12473 rows x 4 columns]

대여소 그룹       0
대여소 명        0
대여 일자 / 월    0
대여 건수        0
dtype: int64

### 대여소별 대여내역(2016)

In [3]:
file_path2= 'D:\Code\서울시 따릉이!\자전거 대여소별 대여 및 반납 내역/대여소별 대여내역(2016년).csv'

df_rent_2016 = pd.read_csv(file_path2,encoding='cp949')

print(df_rent_2016)

print('*'*80)

df_rent_2016.drop([0,0], axis=0, inplace=True)
print(df_rent_2016)

df_rent_2016.isnull().sum()

       대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
0      그룹명 없음              대여소명 없음  2016-01-01      0
1         광진구  500. 어린이대공원역 3번출구 앞  2016-01-01      7
2         광진구         501. 광진구의회 앞  2016-01-01      0
3         광진구   502. 뚝섬유원지역 1번출구 앞  2016-01-01      9
4         광진구     503. 더샵스타시티 C동 앞  2016-01-01      8
...       ...                  ...         ...    ...
99824      중구           381. 장충체육관  2016-12-31      1
99825      중구     382. 약수역 10번출구 앞  2016-12-31      5
99826      중구    383. 신당역 12번 출구 뒤  2016-12-31      5
99827      중구          384. 종로학원본원  2016-12-31      5
99828      중구      387. 훈련원공원주차장 앞  2016-12-31      3

[99829 rows x 4 columns]
********************************************************************************
      대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
1        광진구  500. 어린이대공원역 3번출구 앞  2016-01-01      7
2        광진구         501. 광진구의회 앞  2016-01-01      0
3        광진구   502. 뚝섬유원지역 1번출구 앞  2016-01-01      9
4        광진구     503. 더샵스타시티 C동 앞  2016-01-01      8
5        광진구       504. 신자초교입구교차로  2016-01-01      1
...      ...                  ...         ...    ...
99824     중구           381. 장충체육관  2016-12-31      1
99825     중구     382. 약수역 10번출구 앞  2016-12-31      5
99826     중구    383. 신당역 12번 출구 뒤  2016-12-31      5
99827     중구          384. 종로학원본원  2016-12-31      5
99828     중구      387. 훈련원공원주차장 앞  2016-12-31      3

[99828 rows x 4 columns]

대여소 그룹       0
대여소 명        0
대여 일자 / 월    0
대여 건수        0
dtype: int64

### 대여소별 대여내역(2017)

In [4]:
file_path3= 'D:\Code\서울시 따릉이!\자전거 대여소별 대여 및 반납 내역/대여소별 대여내역(2017년).csv'

df_rent_2017 = pd.read_csv(file_path3,encoding='cp949')

print(df_rent_2017)

print('*'*80)

df_rent_2017.drop([0,0], axis=0, inplace=True)

print(df_rent_2017)

df_rent_2017.isnull().sum()

        대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
0       그룹명 없음              대여소명 없음  2017-01-01      0
1          광진구  500. 어린이대공원역 3번출구 앞  2017-01-01     20
2          광진구         501. 광진구의회 앞  2017-01-01     10
3          광진구   502. 뚝섬유원지역 1번출구 앞  2017-01-01      9
4          광진구     503. 더샵스타시티 C동 앞  2017-01-01      9
...        ...                  ...         ...    ...
245441     중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      3
245442     중랑구          1445. 용마지구대  2017-12-31      1
245443     중랑구      1446. 중랑전화국 교차로  2017-12-31      3
245444     중랑구       1447. 면목역 3번출구  2017-12-31      1
245445     중랑구       1448. 코스트코 상봉점  2017-12-31     10

[245446 rows x 4 columns]
********************************************************************************
       대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
1         광진구  500. 어린이대공원역 3번출구 앞  2017-01-01     20
2         광진구         501. 광진구의회 앞  2017-01-01     10
3         광진구   502. 뚝섬유원지역 1번출구 앞  2017-01-01      9
4         광진구     503. 더샵스타시티 C동 앞  2017-01-01      9
5         광진구       504. 신자초교입구교차로  2017-01-01      6
...       ...                  ...         ...    ...
245441    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      3
245442    중랑구          1445. 용마지구대  2017-12-31      1
245443    중랑구      1446. 중랑전화국 교차로  2017-12-31      3
245444    중랑구       1447. 면목역 3번출구  2017-12-31      1
245445    중랑구       1448. 코스트코 상봉점  2017-12-31     10

[245445 rows x 4 columns]

대여소 그룹       0
대여소 명        0
대여 일자 / 월    0
대여 건수        0
dtype: int64

### 대여소별 대여건수 pd.concat

In [7]:
concat1 = pd.concat([df_rent_2015, df_rent_2016, df_rent_2017],
                     axis=0, 
                     join='inner')

print(f'대여소별 대여건수 병합 출력 : \n{concat1}')

concat1.isnull().sum()

print('*'*80)

df_concat_rent = concat1.reset_index(inplace=False)

print(df_concat_rent)

df_concat_rent.drop(columns=['index'],inplace=True)

print('*'*80)

print(df_concat_rent)

df_concat_rent.isnull().sum()

대여소별 대여건수 병합 출력 :
       대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
1         마포구     101. (구)합정동 주민센터  2015-09-19      5
2         마포구      102. 망원역 1번출구 앞  2015-09-19     13
3         마포구      103. 망원역 2번출구 앞  2015-09-19     18
4         마포구      104. 합정역 1번출구 앞  2015-09-19     11
5         마포구      105. 합정역 5번출구 앞  2015-09-19     15
...       ...                  ...         ...    ...
245441    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      3
245442    중랑구          1445. 용마지구대  2017-12-31      1
245443    중랑구      1446. 중랑전화국 교차로  2017-12-31      3
245444    중랑구       1447. 면목역 3번출구  2017-12-31      1
245445    중랑구       1448. 코스트코 상봉점  2017-12-31     10

[357746 rows x 4 columns]
********************************************************************************
         index 대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
0            1    마포구     101. (구)합정동 주민센터  2015-09-19      5
1            2    마포구      102. 망원역 1번출구 앞  2015-09-19     13
2            3    마포구      103. 망원역 2번출구 앞  2015-09-19     18
3            4    마포구      104. 합정역 1번출구 앞  2015-09-19     11
4            5    마포구      105. 합정역 5번출구 앞  2015-09-19     15
...        ...    ...                  ...         ...    ...
357741  245441    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      3
357742  245442    중랑구          1445. 용마지구대  2017-12-31      1
357743  245443    중랑구      1446. 중랑전화국 교차로  2017-12-31      3
357744  245444    중랑구       1447. 면목역 3번출구  2017-12-31      1
357745  245445    중랑구       1448. 코스트코 상봉점  2017-12-31     10

[357746 rows x 5 columns]
********************************************************************************
       대여소 그룹                대여소 명   대여 일자 / 월  대여 건수
0         마포구     101. (구)합정동 주민센터  2015-09-19      5
1         마포구      102. 망원역 1번출구 앞  2015-09-19     13
2         마포구      103. 망원역 2번출구 앞  2015-09-19     18
3         마포구      104. 합정역 1번출구 앞  2015-09-19     11
4         마포구      105. 합정역 5번출구 앞  2015-09-19     15
...       ...                  ...         ...    ...
357741    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      3
357742    중랑구          1445. 용마지구대  2017-12-31      1
357743    중랑구      1446. 중랑전화국 교차로  2017-12-31      3
357744    중랑구       1447. 면목역 3번출구  2017-12-31      1
357745    중랑구       1448. 코스트코 상봉점  2017-12-31     10

[357746 rows x 4 columns]

대여소 그룹       0
대여소 명        0
대여 일자 / 월    0
대여 건수        0
dtype: int64

## 공공자전거 대여소별 반납건수

### 대여소별 반납내역(2015)

In [8]:
file_path4= 'D:\Code\서울시 따릉이!\자전거 대여소별 대여 및 반납 내역/대여소별 반납내역(2015년).csv'

df_return_2015 = pd.read_csv(file_path4,encoding='cp949')

print(df_return_2015)

print('*'*80)

df_return_2015.drop([0,0],axis=0,inplace=True)
print(df_return_2015)

       대여소 그룹              대여소 명   반납 일자 / 월  반납 건수
0      그룹명 없음            대여소명 없음  2015-09-19     17
1         마포구   101. (구)합정동 주민센터  2015-09-19      8
2         마포구    102. 망원역 1번출구 앞  2015-09-19     14
3         마포구    103. 망원역 2번출구 앞  2015-09-19     19
4         마포구    104. 합정역 1번출구 앞  2015-09-19     10
...       ...                ...         ...    ...
12469      중구   324. 신세계백화점 본점 앞  2015-12-31      1
12470      중구  331. 을지로2가 사거리 북측  2015-12-31      0
12471      중구  332. 을지로2가 사거리 남측  2015-12-31      4
12472      중구      336. 티마크 호텔 앞  2015-12-31      8
12473      중구        346. 맥스타일 앞  2015-12-31      6

[12474 rows x 4 columns]
********************************************************************************
      대여소 그룹              대여소 명   반납 일자 / 월  반납 건수
1        마포구   101. (구)합정동 주민센터  2015-09-19      8
2        마포구    102. 망원역 1번출구 앞  2015-09-19     14
3        마포구    103. 망원역 2번출구 앞  2015-09-19     19
4        마포구    104. 합정역 1번출구 앞  2015-09-19     10
5        마포구    105. 합정역 5번출구 앞  2015-09-19     13
...      ...                ...         ...    ...
12469     중구   324. 신세계백화점 본점 앞  2015-12-31      1
12470     중구  331. 을지로2가 사거리 북측  2015-12-31      0
12471     중구  332. 을지로2가 사거리 남측  2015-12-31      4
12472     중구      336. 티마크 호텔 앞  2015-12-31      8
12473     중구        346. 맥스타일 앞  2015-12-31      6

[12473 rows x 4 columns]

### 대여소별 반납내역(2016)

In [9]:
file_path5= 'D:\Code\서울시 따릉이!\자전거 대여소별 대여 및 반납 내역/대여소별 반납내역(2016년).csv'

df_return_2016 = pd.read_csv(file_path5,encoding='cp949')

print(df_return_2016)

print('*'*80)

df_return_2016.drop([0,0],axis=0,inplace=True)

print(df_return_2016)

       대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
0      그룹명 없음              대여소명 없음  2016-01-01      3
1         광진구  500. 어린이대공원역 3번출구 앞  2016-01-01      5
2         광진구         501. 광진구의회 앞  2016-01-01      7
3         광진구   502. 뚝섬유원지역 1번출구 앞  2016-01-01      8
4         광진구     503. 더샵스타시티 C동 앞  2016-01-01      5
...       ...                  ...         ...    ...
99824      중구           381. 장충체육관  2016-12-31      1
99825      중구     382. 약수역 10번출구 앞  2016-12-31      2
99826      중구    383. 신당역 12번 출구 뒤  2016-12-31      5
99827      중구          384. 종로학원본원  2016-12-31      2
99828      중구      387. 훈련원공원주차장 앞  2016-12-31      5

[99829 rows x 4 columns]
********************************************************************************
      대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
1        광진구  500. 어린이대공원역 3번출구 앞  2016-01-01      5
2        광진구         501. 광진구의회 앞  2016-01-01      7
3        광진구   502. 뚝섬유원지역 1번출구 앞  2016-01-01      8
4        광진구     503. 더샵스타시티 C동 앞  2016-01-01      5
5        광진구       504. 신자초교입구교차로  2016-01-01      3
...      ...                  ...         ...    ...
99824     중구           381. 장충체육관  2016-12-31      1
99825     중구     382. 약수역 10번출구 앞  2016-12-31      2
99826     중구    383. 신당역 12번 출구 뒤  2016-12-31      5
99827     중구          384. 종로학원본원  2016-12-31      2
99828     중구      387. 훈련원공원주차장 앞  2016-12-31      5

[99828 rows x 4 columns]

### 대여소별 반납내역(2017)

In [10]:
file_path6= 'D:\Code\서울시 따릉이!\자전거 대여소별 대여 및 반납 내역/대여소별 반납내역(2017년).csv'

df_return_2017 = pd.read_csv(file_path6,encoding='cp949')

print(df_return_2017)

print('*'*80)

df_return_2017.drop([0,0], axis=0, inplace=True)

print(df_return_2017)

        대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
0       그룹명 없음              대여소명 없음  2017-01-01     10
1          광진구  500. 어린이대공원역 3번출구 앞  2017-01-01     12
2          광진구         501. 광진구의회 앞  2017-01-01     10
3          광진구   502. 뚝섬유원지역 1번출구 앞  2017-01-01     13
4          광진구     503. 더샵스타시티 C동 앞  2017-01-01      8
...        ...                  ...         ...    ...
245441     중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      1
245442     중랑구          1445. 용마지구대  2017-12-31      0
245443     중랑구      1446. 중랑전화국 교차로  2017-12-31      2
245444     중랑구       1447. 면목역 3번출구  2017-12-31      2
245445     중랑구       1448. 코스트코 상봉점  2017-12-31      8

[245446 rows x 4 columns]
********************************************************************************
       대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
1         광진구  500. 어린이대공원역 3번출구 앞  2017-01-01     12
2         광진구         501. 광진구의회 앞  2017-01-01     10
3         광진구   502. 뚝섬유원지역 1번출구 앞  2017-01-01     13
4         광진구     503. 더샵스타시티 C동 앞  2017-01-01      8
5         광진구       504. 신자초교입구교차로  2017-01-01     13
...       ...                  ...         ...    ...
245441    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      1
245442    중랑구          1445. 용마지구대  2017-12-31      0
245443    중랑구      1446. 중랑전화국 교차로  2017-12-31      2
245444    중랑구       1447. 면목역 3번출구  2017-12-31      2
245445    중랑구       1448. 코스트코 상봉점  2017-12-31      8

[245445 rows x 4 columns]

### 대여소별 반납건수 pd.concat

In [18]:
concat2 = pd.concat([df_return_2015,
                     df_return_2016,
                     df_return_2017],
                    axis=0,
                    join='inner'
)

print(f'대여소별 반납건수 병합 출력 : \n{concat2}')

concat2.isnull().sum()

print('*'*80)

df_concat_return = concat2.reset_index(inplace=False)

print(df_concat_return)

df_concat_return.drop(columns=['index'],inplace=True)

print('*'*80)

print(df_concat_return)

df_concat_return.isnull().sum()

대여소별 반납건수 병합 출력 :
       대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
1         마포구     101. (구)합정동 주민센터  2015-09-19      8
2         마포구      102. 망원역 1번출구 앞  2015-09-19     14
3         마포구      103. 망원역 2번출구 앞  2015-09-19     19
4         마포구      104. 합정역 1번출구 앞  2015-09-19     10
5         마포구      105. 합정역 5번출구 앞  2015-09-19     13
...       ...                  ...         ...    ...
245441    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      1
245442    중랑구          1445. 용마지구대  2017-12-31      0
245443    중랑구      1446. 중랑전화국 교차로  2017-12-31      2
245444    중랑구       1447. 면목역 3번출구  2017-12-31      2
245445    중랑구       1448. 코스트코 상봉점  2017-12-31      8

[357746 rows x 4 columns]
********************************************************************************
         index 대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
0            1    마포구     101. (구)합정동 주민센터  2015-09-19      8
1            2    마포구      102. 망원역 1번출구 앞  2015-09-19     14
2            3    마포구      103. 망원역 2번출구 앞  2015-09-19     19
3            4    마포구      104. 합정역 1번출구 앞  2015-09-19     10
4            5    마포구      105. 합정역 5번출구 앞  2015-09-19     13
...        ...    ...                  ...         ...    ...
357741  245441    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      1
357742  245442    중랑구          1445. 용마지구대  2017-12-31      0
357743  245443    중랑구      1446. 중랑전화국 교차로  2017-12-31      2
357744  245444    중랑구       1447. 면목역 3번출구  2017-12-31      2
357745  245445    중랑구       1448. 코스트코 상봉점  2017-12-31      8

[357746 rows x 5 columns]
********************************************************************************
       대여소 그룹                대여소 명   반납 일자 / 월  반납 건수
0         마포구     101. (구)합정동 주민센터  2015-09-19      8
1         마포구      102. 망원역 1번출구 앞  2015-09-19     14
2         마포구      103. 망원역 2번출구 앞  2015-09-19     19
3         마포구      104. 합정역 1번출구 앞  2015-09-19     10
4         마포구      105. 합정역 5번출구 앞  2015-09-19     13
...       ...                  ...         ...    ...
357741    중랑구  1442. (구)신한은행 중랑교지점  2017-12-31      1
357742    중랑구          1445. 용마지구대  2017-12-31      0
357743    중랑구      1446. 중랑전화국 교차로  2017-12-31      2
357744    중랑구       1447. 면목역 3번출구  2017-12-31      2
357745    중랑구       1448. 코스트코 상봉점  2017-12-31      8

[357746 rows x 4 columns]

대여소 그룹  대여소 명           반납 일자 / 월   반납 건수
그룹명 없음  대여소명 없음         2017-06-14  1        4
                        2017-05-16  1        3
                        2017-10-17  1        3
                        2017-08-24  1        3
                        2015-12-06  1        3
                                            ..
마포구     153. 성산2교 사거리   2017-08-28  31       1
                        2017-08-27  52       1
                        2017-08-26  50       1
                        2017-08-25  63       1
중랑구     1448. 코스트코 상봉점  2017-12-31  8        1
Name: count, Length: 357634, dtype: int64

In [17]:
df_concat_return.loc[:,'반납 건수'].values_counts()

AttributeError: 'Series' object has no attribute 'values_counts'

# 대여건수에 대한